<body>
  
        <section class="vh-100">
            <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                  <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10; margin-top: 140px; right: 100px;">
                    <h1 id="name-title-col">
                      MOOD 
                    </h1>
                    <p id="name-subtitle">
                        Where words fail, music speaks
                    </p>
                  </div>
                  <!--White Column section-->
                  
                  <div class="col-lg-6 mb-5 mb-lg-0 position-relative" >
                    <div class="login-ti-enclose">
                    <div class="card bg-glass">
                      <h2 id= "col-title">Welcome Back!</h2>  
                      <div class="card-body px-4 py-5 px-md-5">
                        
                        <form (submit)="processForm($event)" [formGroup]="form"> 
                          <!-- Email input -->
                          <div class="form-outline mb-4">
                            <input type="text"  class = "form-control" id="form3Example3" placeholder="Username" formControlName="userInput">
                            <label class="form-label" for="form3Example3"></label>
                          </div>
            
                          <!-- Password input -->
                          <div class="form-outline mb-4">
                            <input type="password" class = "form-control" id="form3Example4" placeholder="Password" formControlName = "pwdInput">
                            <label class="form-label" for="form3Example4"></label>
                          </div>

                            <button type ="submit" id ="login" class="btn-purp" value ="Login"> 
                                <p class="btn-font"> 
                                    LOGIN 
                                </p> 
                            </button> 

                            <br>
                            <p class = "bottom-link">
                              Don't have an account?  <a id="Register link" style="color: #5318FB; font-style: bold;" (click)="goToRegister()">Register</a>
                            </p>
                        </form>
                      </div>
                        </div>
                      </div>
                      </div>
                      
                    </div>
                  </div>              
          </section>

</body>