
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="col-md-7">
    <div class="social-feed-separated">
        <div class="social-feed-box">
            <div class="social-footer">
                <div class="social-comment">
                    <a href="" class="pull-left">
                        <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                    </a>
                    <div class="media-body">
                        <p>
                            {{commentData.name}}
                        </p>
                        {{commentData.content}}
                        <br>
                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> {{commentData.likes}} Like this!</a> -
                        <small class="text-muted">{{commentData.commentDate}}</small>
                    </div>
                </div>

            </div>

        </div>

    </div>

    
</div>
</div>
