 <!--
  <style>

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>
 -->
 <!-- <button href="https://kind-pebble-06d930310.2.azurestaticapps.net">Route to login</button> -->
 <button onClick="" href="http://localhost:4200/login">route to login</button>
 <a href="https://kind-pebble-06d930310.2.azurestaticapps.net/login">route here</a>
  <router-outlet></router-outlet>
<footer>
  <app-footer></app-footer>
</footer>
