<body>
    <div class="landin-bg">
        <section class="vh-100">
            <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                  <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10; margin-top: 140px; right: 100px;">
                    <h1 id="name-title-col">
                      MOOD 
                    </h1>
                    <p id="land-subtitle">
                        Where words fail, music speaks
                    </p>
                  </div>
                  <!--White Column section-->
                  
                  <div class="col-lg-6 mb-5 mb-lg-0 position-relative" >
                    <div class="signup-ti-enclose">
                    <div class="card bg-glass">
                      <h2 id= "singup-title">Sign up</h2>  
                        <p id= "singup-subtitle" >Or login below</p>  
                      <div class="card-body px-4 py-5 px-md-5">
                        <form> 
                          <!-- 2 column grid layout with text inputs for the first and last names -->
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" placeholder="First Name"/>
                                <label class="form-label" for="form3Example1"></label>
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" placeholder="Last Name"/>
                                <label class="form-label" for="form3Example2"></label>
                              </div>
                            </div>
                          </div>
            
                          <!-- Email input -->
                          <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" class="form-control" placeholder="Email address"/>
                            <label class="form-label" for="form3Example3"></label>
                          </div>
            
                          <!-- Password input -->
                          <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" class="form-control" placeholder="Password" />
                            <label class="form-label" for="form3Example4"></label>
                          </div>
                            <button id="Register"  class="btn-purp" (click) ="registerAccount($event)"> 
                              <p class="btn-font">REGISTER </p> </button>
                            <button id="login" class="btn-white" (click)="gotoLogin()"> 
                              <p class="btn-font"> 
                                LOGIN </p> </button> 
                        </form>
                      </div>
                        </div>
                      </div>
                      </div>
                      
                    </div>
                  </div>
            
              
          </section>
    </div>
    
    
    
</body>
