body, html{
    background: url(https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?cs=srgb&dl=pexels-veeterzy-114979.jpg&fm=jpg);

    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    height: 100%;
    width: 100%;

}
  
#name-title-col {

    font-family: 'Economica';
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;

    display: flex;
    text-align: left;
    letter-spacing: -0.015em;

    height: 100px;

}

#land-subtitle{
    
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    position: relative;
    text-align: right;
    letter-spacing: -0.015em;

    

    color: #000000;
}



.signup-ti-enclose{
    margin-top: 70px;
    position: relative;
    -ms-flex-align: center;
    height: 280px;
    left: 80px;
    padding-top: 10px;
    padding-bottom: 50px;

}

#singup-title{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;

    /* identical to box height, or 150% */

    letter-spacing: -0.015em;

    color: #000000;
}


#singup-subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    line-height: 100%;
    padding-left: 50px;
    position: relative;

    /* or 300% */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #A0A0A0;
}

.btn-font{
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}

.btn-purp{
    width: 130px;
    height: 40px;
    position: relative;
    left: -15px;
    bottom: 10px;
    background: #5318FB;
    border-radius: 6px;
    color: #FFFFFF;
}

.btn-white{
    width: 130px;
    height: 40px;
    position: relative;
    bottom: 10px;
    left: 10px;
    background: #FFFFFF;
    border: 1px solid #5318FB;
    border-radius: 6px;
    color: black;
}