<div class="card-body">
  <!-- Inner card-->
  <div class="card">
    <div class="card-heading">
      <div class="media m0">
        <div class="media-left"><a href="#"><img src="{{postData.imgSrc}}" alt="User" class="media-object img-circle thumb48"></a></div>
        <div class="media-body media-middle pt-sm">
          <p class="media-heading m0 text-bold">{{postData.name}}</p><small class="text-muted"><em class="ion-earth text-muted mr-sm"></em><span>{{postData.date}}</span></small>
        </div>
      </div>
      <div class="p">{{postData.content}}</div> 




      <button type="button" class="btn btn-flat btn-primary">Like</button>  
      <button type="button" class="btn btn-flat btn-primary">Comment</button>
      <p>Likes: {{postData.likes}}</p>
    </div>
    <app-comment *ngFor="let comment of commentList" [commentData]="comment"></app-comment>

    <div class="social-comment">
      <div class="media-body">
          <textarea class="form-control" [formControl]="commentContent" placeholder="Write comment..."></textarea>
          <button (click)="createComment()">Comment</button>
      </div>
  </div>
  </div>
  
</div>

