body{
    margin-top:20px;
    background:#eee;
}
.db-social .jumbotron {
    margin: 0;
    background: url(https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?cs=srgb&dl=pexels-veeterzy-114979.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    color: #fff!important;
    height: 300px;
    position: relative;
    box-shadow: inset 0 0 20px rgba(0,0,0,.3);
    padding: 0;
}

.container-fluid {
    padding: 30px 30px;
}

.db-social .head-profile {
    margin-top: -120px;
    border-radius: 4px;
    position: relative;
}

.widget {
    background: #fff;
    border-radius: 0;
    border: none;
    margin-bottom: 30px;
}
.has-shadow {
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.db-social .head-profile:before {
    content: "";
    background: rgba(255,255,255,.6);
    height: 20px;
    width: 90%;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
}
.db-social .head-profile:after {
    content: "";
    background: rgba(255,255,255,.3);
    height: 20px;
    width: 80%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
}
.db-social .widget-body {
    padding: 1rem 1.4rem;
}
.widget-body {
    padding: 1.4rem;
}
.pb-0, .py-0 {
    padding-bottom: 0!important;
}
.db-social .image-default img {
    width: 120px;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 0 6px rgba(255,255,255,1);
    z-index: 10;
}
.db-social .infos {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}
.db-social h2 {
    color: #2c304d;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .2rem;
}
.db-social .location {
    color: #aea9c3;
    font-size: 1rem;
}
.db-social .follow .btn {
    padding: 10px 30px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-shadow, .btn-shadow a {
    color: #fff;
    background-color: #5318FB;
    border-color: #fff;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.15);
}
.db-social .head-profile .actions {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
}
.actions {
    z-index: 999;
    display: block;
}
.actions.dark .dropdown-toggle {
    color: #2c304d;
}
.actions .dropdown-toggle {
    color: #98a8b4;
    background: white;
    border: none;
    padding: 0;
    font-size: 1.7rem;
}
.actions .dropdown-menu {
    border: none;
    min-width: auto;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1.4rem 1.8rem;
    text-align: left;
    box-shadow: 1px 1px 30px rgba(0,0,0,.15);
}

.actions .dropdown-menu .dropdown-item {
    padding: .5rem 0;
}
.actions .dropdown-menu a {
    color: #2c304d;
    font-weight: 500;
}

.db-social .head-profile li:first-child {
    padding-left: 0;
}
.db-social .head-profile li {
    display: inline-block;
    text-align: center;
    padding: 0 1rem;
}
.db-social .head-profile li .counter {
    color: #2c304d;
    font-size: 1.4rem;
    font-weight: 600;
}
.db-social .head-profile li .heading {
    color: #aea9c3;
    font-size: 1rem;
}








.text-white{
    color:#fff;    
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xs {
    padding: 8px;
    width: auto
}

@media only screen and (min-width:480px) {
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xs {
        padding: 16px
    }
}

@media only screen and (min-width:992px) {
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xs {
        padding: 24px
    }
}

.container-lg {
    max-width: 1200px
}

.container-md {
    max-width: 992px
}

.container-sm {
    max-width: 768px
}

.container-xs {
    max-width: 480px
}

@media only screen and (max-width:1199px) {
    input[type=text],
    input[type=email],
    input[type=search],
    input[type=password] {
        -webkit-appearance: none
    }
    .container-unwrap {
        padding: 0
    }
    .container-unwrap>.row {
        margin: 0
    }
    .container-unwrap>.row>[class*=col-] {
        padding-left: 0;
        padding-right: 0
    }
    .container-unwrap .card {
        margin-bottom: 0
    }
}

.container-overlap {
    position: relative;
    padding: 32px 16px 64px
}

.container-overlap+.container-fluid,
.container-overlap+.container-lg,
.container-overlap+.container-md,
.container-overlap+.container-sm,
.container-overlap+.container-xs {
    padding-top: 0;
    margin-top: -32px
}

.container-overlap+.container-fluid .push-down,
.container-overlap+.container-lg .push-down,
.container-overlap+.container-md .push-down,
.container-overlap+.container-sm .push-down,
.container-overlap+.container-xs .push-down {
    display: block;
    height: 48px
}
.bg-indigo-500 {
    background-color: #3f51b5;
}
.container-overlap {
    position: relative;
    padding: 32px 16px 64px;
}
.fw {
    width: 100%!important;
}
.thumb64 {
    width: 64px!important;
    height: 64px!important;
}
.thumb48 {
    width: 48px!important;
    height: 48px!important;
}

.card {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    color: #4F5256;
    border: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 8px
}

@media only screen and (min-width:480px) {
    .card {
        margin-bottom: 16px
    }
}

@media only screen and (min-width:992px) {
    .card {
        margin-bottom: 24px
    }
}

.card .card-heading {
    padding: 16px;
    margin: 0
}

.card .card-heading>.card-title {
    margin: 0;
    font-size: 18px
}

.card .card-heading>.card-icon {
    float: right;
    color: rgba(255, 255, 255, .87);
    font-size: 20px
}

.card .card-heading>small {
    color: rgba(162, 162, 162, .92);
    letter-spacing: .01em
}

.card .card-body {
    position: relative;
    padding: 16px
}

.card .card-footer {
    padding: 16px;
    border-top: 1px solid rgba(162, 162, 162, .12)
}

.card .card-item {
    position: relative;
    display: block;
    min-height: 120px
}

.card .card-item>.card-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .35);
    margin: 0;
    color: #fff;
    padding: 8px
}

.card .card-item>.card-item-text a {
    color: inherit
}

.card .card-item>.card-item-image {
    display: block;
    width: 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.card .card-item.card-media {
    min-height: 280px;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-origin: padding-box
}

.card .card-item.card-media .card-media-quote {
    padding: 16px;
    font-size: 35px
}

@media only screen and (min-width:768px) {
    .card .card-item.card-media .card-media-quote {
        font-size: 45px
    }
}

.card .card-item.card-media .card-media-quote>a {
    color: inherit;
    text-decoration: none
}

.card .card-item.card-media .card-media-quote:before {
    content: '“';
    display: block;
    font-size: 2em;
    line-height: 1;
    margin-top: .25em
}

.btn-label:after,
.c-radio span:before,
.container-overlap:before,
.note-area.note-area-margin:after,
.switch span:after {
    content: ""
}

.card.card-transparent {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000
}

.card .card-offset {
    position: relative;
    padding-bottom: 36px;
    z-index: 10
}

.card .card-offset>.card-offset-item {
    position: absolute;
    top: -24px;
    left: 15px;
    right: 15px
}

.card .card-toolbar {
    position: relative;
    width: 100%;
    min-height: 64px;
    font-size: 18px;
    line-height: 64px;
    padding-left: 22px;
    z-index: 2
}

.card .card-subheader {
    padding: 16px 0 16px 16px;
    line-height: .75em;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    color: rgba(0, 0, 0, .54)
}

.card .card-subheader+.mda-list>.mda-list-item:first-child>.mda-list-item-text,
.card>.btn {
    padding-top: 16px
}

.card .card-subheader+.mda-list>.mda-list-item:first-child>.mda-list-item-icon,
.card .card-subheader+.mda-list>.mda-list-item:first-child>.mda-list-item-img,
.card .card-subheader+.mda-list>.mda-list-item:first-child>.mda-list-item-initial {
    margin-top: 10px
}

.card .card-divider {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, .12)
}

.card .card-divider+.card-offset {
    margin-top: -10px
}

.card>.ui-datepicker,
.card>.ui-datepicker-responsive>.ui-datepicker {
    width: 100%;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    margin: 0
}

.card .editable-wrap,
.card>.ui-datepicker-responsive>.ui-datepicker>table,
.card>.ui-datepicker>table {
    width: 100%
}

.card>.list-group>.list-group-item {
    border-left: 0;
    border-right: 0
}

.card>.list-group>.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.card>.list-group>.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0
}

.card>.table,
.card>.table-responsive>.table {
    margin-bottom: 0
}

.card>.table-responsive {
    border: 0
}

.card>.btn {
    border-radius: 0;
    width: 100%;
    padding-bottom: 16px;
    text-align: center
}

.card>.btn:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px
}

.card.card-map {
    min-height: 280px
}

.modal.modal-left .modal-dialog>.modal-content,
.modal.modal-right .modal-dialog>.modal-content {
    min-height: 100%
}

.card.card-map .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: transparent
}


.mda-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.mda-list>.mda-list-item {
    padding: 0 22px
}

.mda-list>.mda-list-item:after,
.mda-list>.mda-list-item:before {
    content: " ";
    display: table
}

.mda-list>.mda-list-item>.mda-list-item-icon,
.mda-list>.mda-list-item>.mda-list-item-img,
.mda-list>.mda-list-item>.mda-list-item-initial {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%
}

.mda-list>.mda-list-item>.mda-list-item-icon {
    line-height: 42px;
    text-align: center
}

.mda-list>.mda-list-item>.mda-list-item-icon>em,
.mda-list>.mda-list-item>.mda-list-item-icon>i {
    line-height: inherit
}

.mda-list>.mda-list-item>.mda-list-item-initial {
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 300
}

.mda-list>.mda-list-item>.mda-list-item-text {
    float: left;
    padding: 20px 0
}

.mda-list>.mda-list-item>.mda-list-item-text.mda-2-line {
    padding-top: 26px
}

.mda-list>.mda-list-item>.mda-list-item-text h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    margin: 0 0 6px;
    line-height: .75em
}

.mda-list>.mda-list-item>.mda-list-item-text h4 {
    font-size: 14px;
    letter-spacing: .01em;
    font-weight: 400;
    margin: 10px 0 5px;
    line-height: .75em
}

.mda-list>.mda-list-item>.mda-list-item-text p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em
}

.mda-list>.mda-list-item>.mda-list-item-img+.mda-list-item-text,
.mda-list>.mda-list-item>.mda-list-item-initial+.mda-list-item-text {
    width: calc(100% - 68px)
}

.mda-list.mda-list-bordered>.mda-list-item {
    border-bottom: 1px solid rgba(162, 162, 162, .16)
}

.card>.mda-list-bordered>.mda-list-item:last-child {
    border-bottom: 0
}

.media {
    margin-top: 15px
}

.media:first-child {
    margin-top: 0
}

.media,
.media-body {
    overflow: hidden;
    zoom: 1
}

.media-body {
    width: 10000px
}

.media-object.img-thumbnail {
    max-width: none
}
.container-overlap+.container-lg, .container-overlap+.container-md, .container-overlap+.container-sm, .container-overlap+.container-xs {
    padding-top: 0;
    margin-top: -32px;
}
.media-right,
.media>.pull-right {
    padding-left: 10px
}

.media-left,
.media>.pull-left {
    padding-right: 10px
}

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top
}

.media-middle {
    vertical-align: middle
}

.media-bottom {
    vertical-align: bottom
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.media-list {
    padding-left: 0;
    list-style: none
}